body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 14;
    line-height: 1.6;

}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    background-image: url(./images/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100vh;
    width: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    position: relative;

    transition: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover::after {
    opacity: 1;
}

.intro {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.intro__text {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
    font-weight: 700;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
}

.intro__subtext {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    font-family: 'Alkatra', cursive;
}

.section {
    padding: 60px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section__suptitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #333
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fce38a;
    margin: 30px auto;
}

.section__text {
    color: #999;
    font-size: 15px;
}

.about {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}

.about__item1 {
    width: 30%;
    height: 240px;
    background-image: url(images/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__item2 {
    width: 30%;
    height: 240px;
    background-image: url(images/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__item3 {
    width: 30%;
    height: 240px;
    background-image: url(images/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.need__to__know {
    padding-top: 50px;
    background-color: #fff2c4;
    height: 600px;
}

ul {
    margin-bottom: 30px;
}

li {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.myframe {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

iframe {
    height: 100%;
    width: 300px;
}

.table {
    width: 100%;
}
  
.styled-table {
    table-layout: fixed;
    padding: 20px;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #fce38a;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #fce38a;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
}
